.git
.github
.husky
.pnpm-store

**/node_modules
**/coverage
**/build
**/dist
**/*.tsbuildinfo

**/.env
**/.env.*
!**/.env.example
!.env.production.example

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
